<h1>Register, yo!</h1>

<style>

h1,h2,h3,h4,h5,h6,p{
  color:black;
}

</style>

<p>
<%= form_for :registration,:class => "forum",  url: registration_path do |f| %>
<div id="forum-container">
<%= f.label "Username", :class => "username" %>
<%= f.text_field :username %>
</p>
<br>
<p>
<%= f.label "Password" %>
<%= f.text_field :password %>
<br>
</p>

<p>
  <%= f.label "Zip Code" %>
  <%= f.text_field :zip %>
  <br>
</p>

<%= f.submit %>
</div>
<% end %>
