<%= javascript_include_tag 'update_text.js' %>

</script>

<h1>Random Card View</h1>


<h2 id=rest_name><%= @name_ %> </h2>
<h3 id="type"><%= @venuetype %></h3>
<p id='pricing'>Pricing: <%= @price %></p>
<p id="dist">Distance: <%= @dist %> Miles</p>


<button id="new">New</button>
