<style>
*{
  text-align:center;
}

#link{
  color:black;

}
</style>

<% begin %>
<h1><%=@THIS_REST[:name]%></h1>
<% rescue %>
<% end %>

<% begin %>
<h2>Rating: <%= @THIS_REST[:rating] %></h2>
<% rescue %>
<% end %>

<% begin %>
<h2> <%= @THIS_REST[:price][:stats] %> </h2>
<% rescue %>
<% end %>

<% begin %>
<h2>Phone: <%= @THIS_REST[:contact][:formattedPhone] %></h2>
<% rescue %>
<% end %>

<% begin %>
<h2><%=@THIS_REST[:hours][:richStatus][:text] %></h2>
<% rescue %>
<% end %>

<% begin %>
<h2 id = link><a href="<%= @THIS_REST[:menu][:url] %>" target="_blank">Menu</a></h2>
<% rescue %>
<% end %>


<% begin %>
<h2>Address: <%= @THIS_REST[:location][:address] %> </h2>
<% rescue %>
<% end %>


<%= button_to "Back", random_swipe_path, method: :get %>
