<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
*{
  text-align:center;
  font-family: 'Roboto', serif;
}

#link{
  color:black;

}

#content{
  background-color:rgba(255, 255, 255, .5);
  margin-top: 50px;
  height:500px;
  width:400px;
  border:1px solid black;

  margin-left:auto;
  margin-right: auto;
  border-radius: 10px;
}
</style>

<div id="content">



<h1 ><%= @name %></h1>


<h2><%= @rating %></h2>


<h2> <%= @p_s %> </h2>


<h2><%= @phone %></h2>


<h2><%=@hours %></h2>


<% if not @url__ == "" %>
<h2 id = link><a href="<%= @url__ %>" target="_blank">Menu</a></h2>
<% end %>

<h2><%= @address %> </h2>



<a href="/random_swipe/#">Back</a>

</div>
